#heading {
    text-align: center;
    font-size: 5vh;
    font-family: 'B612';
}

#input {
    width: fit-content;
    margin: 2vh auto 5vh auto;
}
#timer {
    font-family: 'B612';
    text-align: center;
    font-size: 9vh;
}

button {
    outline: none;
    border-radius: 2vh;
    margin: 1.5vh auto 0 auto;
    font-family: 'B612';
    background-color: rgb(240, 245, 242);
    cursor: pointer;
}
button:hover {
    background-color: rgb(209, 206, 206);
}
body {
    background-color:rgb(197, 243, 197);
}
#form {
    width: fit-content;
    margin: auto;
}
